body{
    background-image: url(images/logo_gaumar.png)no-repeat;
}

.bouton a{
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background:url(images/boutonnoir.png) no-repeat;
    color:white;
    text-decoration:none;
    float: right;
    margin-right: 280px;
}

.bouton a:hover{
    background:url(images/boutonnoir2.png) no-repeat;
    color:white;
    text-decoration:none;
}

[class*="col-"]{
    background-color: lightgreen;
    line-height: 40px;
    text-align: center;
    border-bottom: 2px solid grey;
}

.logo{
    padding-right: 1%;
    padding-left: 1%;
    text-align: center;
    background-image: url(img/logo_gaumart.png);
    
}

#message{
    width: 500px;
}

img{
    padding-left: 15px;
}

#conteneur{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#navbar{
    align-content: space-around;
    display: table;
    border-bottom: grey 2px solid;
    justify-content: space-around;
}

#questionnaire{
    float:left;
        }


